- if current_user
  %h1
    Hello #{current_user.email}
  = link_to 'Sign out', destroy_user_session_path, method: :delete
  = link_to 'Edit your info', edit_user_path(current_user)
- else
  = link_to 'Sign up', new_user_registration_path
  = link_to 'Sign in', user_session_path
